body{
  margin:0;
  background:#e7e4de;
  font-family: Arial, sans-serif;
}

.container{
  max-width:768px;
  margin:auto;
  background:#e7e4de;
}

.header{
  padding:30px;
  border-bottom:2px solid black;
}

.header h1{
  font-size:60px;
  font-style:italic;
  font-weight:900;
  margin:0;
}

.header p{
  font-size:35px;
  font-style:italic;
  font-weight:bold;
}

.section{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px;
  border-bottom:2px solid black;
}

.left{
  display:flex;
  align-items:center;
  gap:20px;
}

.circle{
  width:120px;
  height:120px;
  background:white;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.circle img{
  width:70px;
  height:70px;
}

.section h2{
  font-size:60px;
  font-weight:300;
}

.section span{
  font-size:70px;
  font-weight:bold;
}
